<p>map works!</p>
<!--<div style="height: 200px; background-color: red;"><img [src]="imgUrl" /></div>-->

<google-map height="500px" width="900px" [center]="center" [zoom]="zoom" [title]="title" [lang]="lang"
    (mapClick)="moveMap($event)" (mapMousemove)="move($event)">
    @for (location of fuzuliLocations; track location) {
    <map-marker #markerElem="mapMarker" [position]="{ lat: location.lat, lng: location.lng }" />
    }
    <map-kml-layer [url]="kmlFuzuli" />
</google-map>


<div>Latitude: {{display?.lat}}</div>
<div>Longitude: {{display?.lng}}</div>